@charset "UTF-8";
/* em HTML é id = em CSS é # . (id só pode um elemento)
   em HTML é class - em CSS é . */

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:  rgb(4, 109, 0); 
}
h1#principal{
    text-align: center;
    background-color:  rgb(4, 109, 0);
    color: white;
}

h2{
    color: rgb(51, 77, 49);  
}

.basico{
    color: #90d359;
}
.intermediario{
    color: #f0e266;
}
.avancado{
    color: #eb2727;
}
.destaque{
    background-color: rgba(255, 255, 0, 0.61);
}